body{
	background-color:#1E1E1E;
}
#image{
	text-align:center;
}
#text{
	margin-left:30%;
	margin-right:30%;
	border-top:solid #AEE800 3px;
	text-align:center;
}
p{
	font-family:Arial;
	font-size:45px;
	color:#AEE800;
}
